p {
  padding: 5px;
}
.hero-card{
  width: 500px;
  margin: auto;
  border: 1px dashed red;
  &:hover{
    background-color: lightseagreen;
  }
  &__name{
    font-size: 40px;
    font-weight: bold;
    color: deeppink;
  }
  &__id{
    font-size: 70px;
  }
}
