@import "../../../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../../../node_modules/ag-grid-community/dist/styles/ag-theme-balham.css";

body, html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app {
  position: relative;
  height: 100vh;
  padding: 0;
  text-align: center;
}
