.login-form {
  width: 200px;
  height: 200px;
  margin: 20vh auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 36px 11px #5089CC;
}
.error {
  outline: 1px solid #FF0000;
  border: none;
  box-shadow: 0 0 3px 1px #FF0000 inset;
}
