.group{
  &__container{
    width: 400px;
    margin: auto;
    border: 1px solid brown;
  }

  &__title{
    font-weight: bold;
  }

  &__list{
    display: block;
    margin: auto auto 2vh auto;
    padding: 0;
  }

  &__item{
    display: block;
    width: 160px;
    margin: auto;
    border: 2px solid red;
  }
}
